<h3>Continue to&nbsp;<span class="text-primary">Coldchain</span></h3>

<form class="auth-form" name="login">

   <!-- Login email input -->
   <div class="input-wrapper">
      <label class="input-label" for="email-input">Email</label>
      <input 
         class="input-controller" 
         type="email" 
         name="email" 
         id="email-input"
         required />
   </div>

   <!-- Login password input -->
   <div class="input-wrapper">
      <label class="input-label" for="password-input">Password</label>
      <input 
         class="input-controller" 
         type="password" 
         name="password" 
         id="password-input"
         required />
   </div>

   <app-button type="submit" color="primary" text="Continue" icon="arrow-right-circle" [disabled]="false"></app-button>
</form>
<br />
<p class="text-center"><small>Create new account?&nbsp;<a [routerLink]="['/', 'auth', 'signup']">Signup</a></small></p>
