$main-padding-x: 1.24rem;
$main-padding-y: 1.6rem;

$main-margin-left: 260px;
$expanded-main-margin-left: 80px;

.app-main {
   position: relative;
   width: auto;
   padding: $main-padding-y $main-padding-x;
}

.app-main[aria-expanded="true"] {
   margin-left: $expanded-main-margin-left;
}

.app-main[aria-expanded="false"] {
   margin-left: $main-margin-left;
}
