$primary: #764AF1;
$primary-fr: #FFF;
$success: aquamarine;
$success-fr: #000;
$primary-light: #9772FB;
$background: #000000;
$surface-background: #1a1a1a;
$foreground: #000000;
$error: #F32424;
$error-fr: #FFF;

$accents-8: #fafafa;
$accents-7: #eaeaea;
$accents-6: #999;
$accents-5: #888;
$accents-4: #666;
$accents-3: #444;
$accents-2: #333;
$accents-1: #111;
$accents-0: #000;

$shadow-1: rgba(0, 0, 0, 0.2);
