$primary: #764AF1;
$primary-fr: #FFF;
$success: aquamarine;
$success-fr: #000;
$primary-light: #9772FB;
$background: #FFFFFF;
$surface-background: #f7f7f7;
$foreground: #000000;
$error: #F32424;
$error-fr: #FFF;

$accents-0: #FFF;
$accents-1: #fafafa;
$accents-2: #eaeaea;
$accents-3: #999;
$accents-4: #888;
$accents-5: #666;
$accents-6: #444;
$accents-7: #333;
$accents-8: #111;

$shadow-1: rgba(219, 221, 221, 0.2);
